/* basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameContainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 15px;
    padding-top: 3rem;
}

.actionButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.actionButton:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 80%;
    margin-bottom: 10px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

div > p {
    font-weight: bold;
    color: #333;
}
